body{
    padding    : 0;
    margin     : 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*============ HEADER ============*/
#header{
     position: fixed;
     top     : 0;
     left    : 0;
     z-index : 500;
     width   :100%;
     height  :80px;
     background-image  : url('images/Purple-Header-660099.jpg');
     background-repeat: repeat-x;
}

#header img{
     display: block;
     margin : auto;
     height : 70%;
     padding-top: 15px; 
}
/*============ TOP-TABS ============*/

#tabs-top{
    position: fixed;
    top     : 80px;
    left    : 0;
    z-index : 500;
    width   : 100%;
    height  : 40px;
    background-color: rgb(174, 0, 218);
}

#tabs-top a{
    float   : left;
    display : block;
    width   : 33%;
    height  :35px;
    font-weight : 700;
    color       : white;
    text-align  : center;
    text-decoration : none;
    padding-top     : 12px;  
}

/*============ MAIN ============*/
#main{
    margin-top: 119px;
    background: url('images/map-blur.png');
    background-repeat: repeat-y;
}

#content{
    padding-top: 1px;
    padding-bottom: 50px;
}

/*============ INFO BOX ============*/

a.info-box{
    text-decoration : none;
    background      : rgb(174, 0, 218);
    width           : 50%;
    height          : 90px;
    display         : block;
    margin          : auto;
    margin-top      : 12px;
    padding         : 6px; 
}
.info-box img{
    height : 80px;
    margin : 4px;
    float  : left;
}

.info-box h3{
    padding : 0;
    margin-bottom :0;
    width : 90%;
    color : #ffffff;
}

.info-box p{
    margin  : 0;
    padding : 0;
    width   : 90%;
    color   : rgb(235, 153, 255);
}

.info-box img.right{
    float      : left;
    margin-top : 50px;
    height     :20px; 
}

/*============ INFO BOX FULL ============*/

#info-box-full{
    background-color : rgb(212, 107, 253) ;
    width   : 90%;
    display : block;
    margin  : auto;
    margin-top : 12px;
    padding    : 10px;
}

#info-box-full img{
    width : 30%;
}

#info-box-full h3{
    text-align : left;
}

/*============ MAIN-HOME ============*/

#main-home{
    margin-top: 50px;
}

/*============ BOTTOM-TABS ============*/

#tabs-bottom{
    position : fixed;
    bottom   : 0;
    left     : 0;
    z-index  : 500;
    width    : 100%;
    height   : 40px;
    background-color: rgb(174, 0, 218);
}

#tabs-bottom a{
   float : left;
   display : block;
   width : 33%;
   height : 35px;
   font-weight : 700;
   color       : white;
   text-align  : center;
   text-decoration : none;
   padding-top     : 12px;
}


/*============ FORM ============*/

input{
    width: 100%;
    height: 25px;
    margin : 12px 0;
    border : 1px solid rgb(174, 0, 218);
}

textarea{
    width: 100%;
    height :65px;
    margin : 12px 0;
    border : 1px solid #b0a8da;
}

.button{
    display : block;
    background-color: rgb(174, 0, 218);
    text-decoration : none;
    text-align  : center;
    color       : white;
    font-size   : 16px;
    font-weight : 600;
    margin : 12px 0;
    padding : 8px 0;
}